
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User-Info</title>
</head>
<body>
{% block content %}
    <div class="container">
        <form method="POST">
          <fieldset>
            <legend>User Info</legend>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
    </div>

    <div>
        <h1> Click Submit To See the Books!</h1>
    </div>
{% endblock content %}
</body>
</html>
